<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <span class="author"><%= message.user.email %></span>
    <br>
    <%= message.body %>
    <br>
    <div class="time-like">
        <span><%= l(message.created_at, format: :short) %></span>
        <%= link_to like_message_path(message), data: { "turbo-method": :post }, class: "like" do %>
          <%= render partial: "messages/heart", locals: { user: user, message: message } %>
          <%= render partial: "messages/likes_count", locals: { user: user, message: message } %>
        <% end %>
    </div>
  </div>
</div>
